/ShopSystem/packages
/ShopSystem/ShopSystemBLL/*
/ShopSystem/ShopSystemDAL/*
/ShopSystem/ShopSystemEntity/*
/ShopSystem/ShopSystemTool/*
/ShopSystem/ShopSystemUI/*
/ShopSystem/.vs
/ShopSystem/ShopSystemEntity/bin/Debug/ShopSystemEntity.dll.config
/ShopSystem/ShopSystemDAL/bin/Debug/ShopSystemDAL.dll.config
/ShopSystem/ShopSystemBLL/bin/Debug/ShopSystemBLL.dll.config
/ShopSystem/packages/Microsoft.AspNet.Identity.EntityFramework.zh-Hans.1.0.0
/ShopSystem/packages/Microsoft.AspNet.Identity.Owin.1.0.0
/ShopSystem/packages/Microsoft.AspNet.Identity.Owin.zh-Hans.1.0.0
/ShopSystem/packages/Microsoft.AspNet.Mvc.5.0.0
/ShopSystem/packages/Antlr.3.4.1.9004
/ShopSystem/packages/bootstrap.3.0.0
/ShopSystem/packages/EntityFramework.6.0.0
/ShopSystem/packages/EntityFramework.6.2.0
/ShopSystem/packages/EntityFramework.zh-Hans.6.0.0
/ShopSystem/packages/jQuery.1.10.2
/ShopSystem/packages/jQuery.Validation.1.11.1
/ShopSystem/packages/Microsoft.AspNet.Identity.Core.1.0.0
/ShopSystem/packages/Microsoft.AspNet.Identity.Core.zh-Hans.1.0.0
/ShopSystem/packages/Microsoft.AspNet.Identity.EntityFramework.1.0.0
/ShopSystem/packages/Microsoft.jQuery.Unobtrusive.Validation.3.0.0
/ShopSystem/packages/Microsoft.AspNet.Mvc.zh-Hans.5.0.0
/ShopSystem/packages/Microsoft.AspNet.Razor.3.0.0
/ShopSystem/packages/Microsoft.AspNet.Razor.zh-Hans.3.0.0
/ShopSystem/packages/Microsoft.AspNet.Web.Optimization.1.1.1
/ShopSystem/packages/Microsoft.AspNet.Web.Optimization.zh-Hans.1.1.1
/ShopSystem/packages/Microsoft.AspNet.WebPages.3.0.0
/ShopSystem/packages/Microsoft.AspNet.WebPages.zh-Hans.3.0.0
/ShopSystem/packages/Newtonsoft.Json.5.0.6
/ShopSystem/packages/Microsoft.Net.Http.2.0.20710.0
/ShopSystem/packages/Microsoft.Net.Http.zh-Hans.2.0.20710.0
/ShopSystem/packages/Microsoft.Owin.2.0.0
/ShopSystem/packages/Microsoft.Owin.Host.SystemWeb.2.0.0
/ShopSystem/packages/Microsoft.Owin.Host.SystemWeb.zh-Hans.2.0.0
/ShopSystem/packages/Microsoft.Owin.Security.2.0.0
/ShopSystem/packages/Microsoft.Owin.Security.Cookies.2.0.0
/ShopSystem/packages/Microsoft.Owin.Security.Facebook.2.0.0
/ShopSystem/packages/Microsoft.Owin.Security.Facebook.zh-Hans.2.0.0
/ShopSystem/packages/Microsoft.Owin.Security.Google.2.0.0
/ShopSystem/packages/Microsoft.Owin.Security.Google.zh-Hans.2.0.0
/ShopSystem/packages/Microsoft.Owin.Security.MicrosoftAccount.2.0.0
/ShopSystem/packages/Microsoft.Owin.Security.MicrosoftAccount.zh-Hans.2.0.0
/ShopSystem/packages/Microsoft.Owin.Security.OAuth.2.0.0
/ShopSystem/packages/Microsoft.Owin.Security.Twitter.2.0.0
/ShopSystem/packages/Microsoft.Owin.Security.Twitter.zh-Hans.2.0.0
/ShopSystem/packages/Microsoft.Owin.Security.zh-Hans.2.0.0
/ShopSystem/packages/Microsoft.Owin.zh-Hans.2.0.0
/ShopSystem/packages/Microsoft.Web.Infrastructure.1.0.0.0
/ShopSystem/packages/Modernizr.2.6.2
/ShopSystem/packages/WebGrease.1.5.2
/ShopSystem/packages/Owin.1.0
/ShopSystem/packages/Respond.1.2.0
/ShopSystem/.vs/ShopSystem/v15/.suo
